.title {
  text-align: center;
}
.score-container{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.field {
  display: flex;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  flex-wrap: wrap;
}
.field-cell{
  border: solid 1px black;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.cell-image{
  width: 100%;
}